/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: -5px;
    font-size: 20px;
    font-weight: 600;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 695px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition:
        opacity 0.75,
        visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #eff0f2;
    border-top-color: rgb(28, 60, 101);
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* HTML IDs */
#every-try-counts {
    color: white;
}

#get-started {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border: none;
}

#main-logo:hover {
    transform: scale(1.1);
}

#main-logo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#map-of-canada-picture:hover {
    transform: scale(1.05);
}

#map-of-canada-picture {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#the-great-canadian-swim-word:hover,
#every-try-counts:hover,
#every-ripple-matters:hover,
#footer-details:hover {
    text-decoration-line: underline;
}

#footer-details:hover {
    transform: scale(1.05);
}

#footer-details {
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;
}

#get-started:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#get-stated:active {
    transform: translateY(1px);
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
