/* HTML Components */
body {
    font-family: "Montserrat";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    font-weight: 700;
    flex-direction: column;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: visible;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-delay: 0s;
}

h3 {
    margin-top: -10px;
}

option {
    min-width: 324px;
    color: rgb(28, 60, 101);
    font-weight: 700;
}

option:hover {
    background: #eff0f2;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    margin-top: auto;
    display: flex;
    justify-content: center;

    padding: 20px 0 10px;
    position: sticky;
    bottom: 0;
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #eff0f2;
    color: black;
}

.navbar li {
    display: inline-block;
}

/* HTML IDs */
#back {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#user-stats-logo:hover,
input[type="text"]:hover,
#profile-picture:hover {
    transform: scale(1.1);
}

#user-stats-logo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#back:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#footer-details:hover,
h1:hover,
h3:hover,
label:hover {
    text-decoration-line: underline;
}

#footer-details:hover {
    transform: scale(1.05);
}

#footer-details {
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;
}

#profile-and-name-layout,
#exp-details,
#level-details,
#streak-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#exp,
#level,
#streak {
    height: 75px;
    width: 75px;
    border-radius: 16px;
    border: none;
    background: rgba(239, 240, 242, 0.5);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(28, 60, 101);
    box-shadow: 0px 0px 20px 2px white;
}

#user-details-and-logo-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

#user-stats-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
