/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    background: #8e2de2;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

h1 {
    text-align: center;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 880px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 195%);
    background: white;
    color: rgb(28, 60, 101);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* HTML IDs */
#disability-option,
#parent-caregiver-option,
#supporter-option,
#club-coach-option,
#education-option,
#organization-option {
    width: 280px;
    height: 56px;
    font-size: 18px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: rgba(239, 240, 242, 0.5);
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
}

.disability-details,
.parent-caregiver-details,
.supporter-details,
.club-coach-details,
.education-details,
.organization-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

#disability-checkbox,
#parent-caregiver-checkbox,
#supporter-checkbox,
#club-coach-checkbox,
#education-checkbox,
#organization-checkbox {
    width: 25px;
    height: 25px;
}

#disability-option:hover,
#parent-caregiver-option:hover,
#supporter-option:hover,
#club-coach-option:hover,
#education-option:hover,
#education-option:hover,
#organization-option:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#disability-option:active,
#parent-caregiver-option:active,
#supporter-option:active,
#club-coach-option:active,
#education-option:active,
#organization-option:active {
    transform: translateY(1px);
}

#continue {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.clicked-black {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
}

#about-you-word {
    margin-bottom: -10px;
}

#about-you-logo:hover {
    transform: scale(1.1);
}

#about-you-logo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#continue:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#description {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#about-you-word:hover,
#description:hover {
    text-decoration-line: underline;
}

/* HTML Pseudo-Element Notation */
input[type="button"] {
    color: black;
    text-align: center;
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
