/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url("login-and-registration-account-page-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 765px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-details,
.email-details,
.first-name-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

.alertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    background: white;
    color: rgb(28, 60, 101);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#first-name-word,
#email-word,
#password-word {
    width: 324px;
    text-align: left;
    margin-bottom: 6px;
    font-weight: 700;
}

/* HTML IDs */
#sign-in-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
}

#submitSignUp {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#fName,
#rEmail,
#rPassword {
    width: 324px;
    height: 56px;
    font-size: 18px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: rgba(239, 240, 242, 0.5);
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
}

#submitSignUp:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#googleSignIn {
    margin-bottom: -30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px;
    border-radius: 16px;
}

#account-registration-logo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#submitSignUp:active,
#googleSignIn:active {
    transform: translateY(1px);
}

#account-registration-logo:hover,
#googleSignIn:hover {
    transform: scale(1.1);
}

#account-registration-word:hover,
#first-name-word:hover,
#email-word:hover,
#password-word:hover,
#login-word {
    text-decoration-line: underline;
}

#account-registration-word {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: -10px;
}

#login-word {
    text-decoration-line: underline;
    color: rgb(178, 58, 58);
}

#login-word:hover {
    font-weight: 800;
}

/* HTML Pseudo-Element Notation */
input::placeholder {
    color: rgb(28, 60, 101);
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    color: rgb(28, 60, 101);
    text-align: center;
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes borderEffect {
    0% {
        border: 5px solid rgb(28, 60, 101);
    }

    25% {
        border: 5px solid rgb(15, 192, 252);
    }

    50% {
        border: 5px solid rgb(178, 58, 58);
    }

    75% {
        border: 5px solid rgb(0, 0, 0);
    }

    100% {
        border: 5px solid #f5f7f9;
    }
}
