/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    background: #8e2de2;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

h1 {
    margin-bottom: -10px;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 735px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -15px;
    gap: 5px;
}

/* HTML IDs */
#sign-in,
#create-an-account {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#swim-across-canada-option,
#build-community-option,
#make-a-difference-option {
    width: 324px;
    height: 56px;
    font-size: 18px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: rgba(239, 240, 242, 0.5);
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
}

#map-of-canada-picture:hover,
#welcome-page-logo:hover {
    transform: scale(1.05);
}

#welcome-page-logo,
#map-of-canada-picture {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#swim-across-canada-option:hover,
#build-community-option:hover,
#make-a-difference-option:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1:hover,
h4:hover {
    text-decoration-line: underline;
}

#create-an-account:hover,
#sign-in:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
