/* HTML Components */
body {
    font-family: "Montserrat";
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: 700;
    flex-direction: column;
    /*
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    */
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    overflow-x: hidden;
    overflow-y: visible;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-delay: 0s;
    height: 100vh;
}

#todays-community-progress-word,
#word-challenges,
#grand-snapshot-word,
#grand-community-progress-word,
#effort-today-word {
    height: 30px;
    width: min(450px, 90vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 16px;
    margin: 0 auto;
    align-self: center;
    box-shadow: 0px 0px 20px 2px white;
}

#settings-box {
    height: 50px;
    width: 50px;
    background-color: black;
    position: sticky;
    top: 50%;
    right: 100%;
    text-align: center;
    border-radius: 16px;
    z-index: 999;
}

#settings-box:hover {
    background-color: rgb(28, 60, 101);
}

#top-row-today-community-progress,
#bottom-row-today-community-progress,
#top-row-grand-community-progress,
#bottom-row-grand-community-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#top-row-effort-today,
#bottom-row-effort-today {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* HTML Classes */
#settings-box {
    height: 50px;
    width: 50px;
    background-color: black;
    position: sticky;
    top: 50%;
    right: 100%;
    text-align: center;
    border-radius: 16px;
    z-index: 999;
}

#settings-box:hover {
    background-color: rgb(28, 60, 101);
}

.quote-box,
#welcomeMessage {
    height: 35px;
    width: min(450px, 90vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: 600;
    margin: 0 auto;
    align-self: center;
}

.challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: white;
}

.navbar {
    margin-top: auto;
    display: flex;
    justify-content: center;

    padding: 20px 0 10px;
    position: sticky;
    bottom: 0;
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #eff0f2;
    color: black;
}

.navbar li {
    display: inline-block;
}

.community-progress,
.effort-today {
    width: min(450px, 90vw);
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    border-radius: 16px;
    gap: 50px;
}

#control-panel {
    width: 170px;
    height: 40px;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: rgba(239, 240, 242, 0.5);
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
    margin-left: 20px;
}

option {
    min-width: 324px;
    color: rgb(28, 60, 101);
    font-weight: 700;
}

option:hover {
    background: #eff0f2;
}

#total-community-distance-details,
#total-community-sessions-details,
#total-community-hours-details,
#today-community-distance-details,
#today-community-sessions-details,
#today-community-time-details,
.distance-details,
.session-details,
.time-details,
#total-trips-of-canada-details,
#today-trips-of-canada-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.carousel {
    margin-top: -25px;
    width: 90%;
    height: 150px;
    border: none;
    display: flex;
    overflow-x: auto;
    align-items: center;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel:hover .group {
    animation-play-state: paused;
}

.group {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 50px;
    animation-name: spin;
    animation-duration: 20s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-right: 15px;
}

.card {
    display: flex;
    flex: 0 0 2px;
    height: 90px;
    width: 180px;
    padding: 5px;
    background: cornflowerblue;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}

.carousel-weekly-snapshot {
    margin-top: -25px;
    margin: auto;
    width: 90%;
    height: 190px;
    border: none;
    display: flex;
    overflow-x: auto;
    align-items: center;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
    );
}

.carousel-weekly-snapshot::-webkit-scrollbar {
    display: none;
}

.carousel-weekly-snapshot:hover .group-weekly-snapshot {
    animation-play-state: paused;
}

.group-weekly-snapshot {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 50px;
    animation-name: spin2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-right: 15px;
}

.card-weekly-snapshot {
    display: flex;
    flex: 0 0 2px;
    height: 160px;
    width: 200px;
    padding: 5px;
    background: cornflowerblue;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.card-weekly-snapshot:hover {
    transform: scale(1.1);
}

/* HTML IDs */
#total-sessions,
#total-time,
#total-distance,
#total-community-distance,
#total-community-time,
#total-community-sessions,
#today-community-distance,
#today-community-time,
#today-community-sessions,
#total-trips-of-canada,
#today-trips-of-canada {
    text-align: center;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 16px;
    background-color: #eff0f2;
    color: rgb(5, 5, 36);
    font-weight: 700;
    font-size: 18px;
}

h3:hover,
label:hover {
    text-decoration-line: underline;
}

#community-details,
#community-today {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#calendar {
    border-radius: 10px;
    border: none;
    background-color: rgb(5, 5, 36);
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

#footer-details:hover {
    transform: scale(1.05);
}

#footer-details {
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;
}

.alberta-trips,
.british-columbia-trips,
.manitoba-trips,
.new-brunswick-trips,
.newfoundland-and-labrador-trips,
.nova-scotia-trips,
.ontario-trips,
.prince-edward-island-trips,
.quebec-trips,
.saskatchewan-trips,
.session-number,
.active-duration-number,
.distance-number {
    width: 50px;
    height: 15px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: white;
}

.alberta,
.british-columbia,
.manitoba,
.new-brunswick,
.newfoundland-and-labrador,
.nova-scotia,
.ontario,
.prince-edward-island,
.quebec,
.saskatchewan {
    width: 150px;
    height: 80px;
    background-color: rgb(5, 5, 36);
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.active-duration,
.sessions,
.distance {
    width: 250px;
    height: 150px;
    background-color: rgb(5, 5, 36);
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#yes-no-button-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 16px;
}

#yes-button,
#no-button {
    height: 35px;
    width: 120px;
    color: white;
    background-color: rgba(15, 192, 252, 0.5);
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#label-and-button-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

#yes-button:hover,
#no-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#calendar:hover {
    background-color: #49a09d;
}

.quote-box:hover,
#footer-details:hover {
    text-decoration-line: underline;
}

input[type="text"]:hover {
    transform: scale(1.1);
}

/* CSS @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes spin2 {
    0% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(-95%);
    }
}
