/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

label:hover,
h3:hover, 
h1:hover {
    text-decoration-line: underline;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* HTML Classes */
#settings-box {
    height: 50px;
    width: 50px;
    background-color: black;
    position: sticky;
    top: 50%;
    right: 100%;
    text-align: center;
    border-radius: 16px;
    z-index: 999;
}

#settings-box:hover {
    background-color: rgb(28, 60, 101);
}

.container {
    width: 327px;
    height: 2250px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.badges-layout {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
}

.navbar {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px;
    position: sticky;
    bottom: 0;
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #eff0f2;
    color: black;
}

.navbar li {
    display: inline-block;
}

/* HTML IDs */
#badgeUnlockAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#badgeUnlockText {
    color: black;
}

#footer-details:hover {
    transform: scale(1.05);
}

#first-splash-details,
#fifteen-minutes-details,
#thirty-minutes-details,
#one-hour-details,
#two-hours-details,
#five-hundred-meters-details,
#one-kilometer-details,
#two-kilometers-details,
#five-kilometers-details,
#ten-kilometers-details,
#alberta-details,
#british-columbia-details,
#manitoba-details,
#new-brunswick-details,
#newfoundland-and-labrador-details,
#northwest-territories-details,
#nova-scotia-details,
#ontario-details,
#prince-edward-island-details,
#saskatchewan-details,
#quebec-details,
#nunavut-details,
#yukon-details,
#canada-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#one-row-badges,
#two-row-badges,
#three-row-badges,
#four-row-badges,
#five-row-badges,
#six-row-badges,
#seven-row-badges,
#eight-row-badges {
    display: contents;
}

.badges-layout > br {
    display: none;
}

#exp-details,
#level-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#exp,
#level {
    height: 75px;
    width: 75px;
    border-radius: 16px;
    border: none;
    background: rgba(239, 240, 242, 0.5);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(28, 60, 101);
    box-shadow: 0px 0px 20px 2px white;
}

#exp:hover,
#level:hover {
    transform: scale(1.1);
}

#user-stats-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

#first-splash-details:hover,
#fifteen-minutes-details:hover,
#thirty-minutes-details:hover,
#one-hour-details:hover,
#two-hours-details:hover,
#five-hundred-meters-details:hover,
#one-kilometer-details:hover,
#two-kilometers-details:hover,
#five-kilometers-details:hover,
#ten-kilometers-details:hover,
#alberta-details:hover,
#british-columbia-details:hover,
#manitoba-details:hover,
#new-brunswick-details:hover,
#newfoundland-and-labrador-details:hover,
#northwest-territories-details:hover,
#nova-scotia-details:hover,
#ontario-details:hover,
#prince-edward-island-details:hover,
#saskatchewan-details:hover,
#quebec-details:hover,
#nunavut-details:hover,
#yukon-details:hover,
#canada-details:hover {
    transform: scale(1.1);
}

/*
#first-splash-badge:hover::after {
    content: attr(data-tooltip);
}

#first-splash-badge::before,
#first-splash-badge::after {
    --scale: 0;
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

#first-splash-badge::before {
    background: black;
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    width: max-content;
    max-width: 100%;
    border-radius: .3rem;
    text-align: center;
}

#first-splash-badge:hover::before {
    --scale: 1;
}
*/

#title-and-subheading-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#back {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#footer-details {
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;
}

#footer-details:hover {
    text-decoration-line: underline;
}

#back:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#back:active {
    transform: translateY(1px);
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
