/* HTML Components */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8e2de2;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    overflow-x: visible;
    overflow-y: visible;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    color: white;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 705px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.navbar {
    margin-top: auto;
    display: flex;
    justify-content: center;

    padding: 20px 0 10px;
    position: sticky;
    bottom: 0;
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #eff0f2;
    color: black;
}

.navbar li {
    display: inline-block;
}

/* HTML IDs */
#name,
#email,
#subject,
#message {
    width: 324px;
    height: 56px;
    font-size: 18px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: rgba(239, 240, 242, 0.5);
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
}

#phone-details,
#email-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(28, 60, 101);
    background: rgba(239, 240, 242, 0.5);
    border-radius: 20px;
    width: 230px;
    height: 70px;
}

#social-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: rgb(28, 60, 101);
    background: rgba(239, 240, 242, 0.5);
    border-radius: 20px;
    width: 230px;
    height: 70px;
}

#send {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#information-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

#name-word,
#email-word,
#subject-word,
#message-word {
    text-align: left;
    width: 324px;
    margin-bottom: 6px;
}

#name-word:hover,
#email-word-box:hover,
#email-word:hover,
#subject-word:hover,
#message-word:hover,
#contact-us-word:hover,
#socials-word:hover,
#phone-word:hover,
#email-word:hover,
#privacy-policy-word:hover,
#terms-of-use-word:hover,
#disclaimer-word:hover {
    text-decoration-line: underline;
}

#contact-us-page-logo:hover,
#instagram-picture:hover,
#tiktok-picture:hover,
#twitter-picture:hover {
    transform: scale(1.1);
}

#contact-us-page-logo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#phone-number:hover,
#email-address:hover {
    transform: scale(1.025);
}

#email-address,
#phone-number {
    text-decoration-line: none;
    color: rgb(28, 60, 101);
}

#send:active,
#instagram-picture:active,
#twitter-picture:active,
#tiktok-picture:active,
#phone-number:active,
#email-address:active {
    transform: translateY(1px);
}

#send:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* HTML Pseudo-Element Notation */
input::placeholder {
    color: rgb(28, 60, 101);
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

input[type="text"] {
    color: white;
    text-align: center;
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes borderEffect {
    0% {
        border: 5px solid rgb(28, 60, 101);
    }

    25% {
        border: 5px solid rgb(15, 192, 252);
    }

    50% {
        border: 5px solid rgb(178, 58, 58);
    }

    75% {
        border: 5px solid rgb(0, 0, 0);
    }

    100% {
        border: 5px solid #f5f7f9;
    }
}
