/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    color: white;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* HTML Classes */
.container {
    width: 327px;
    height: 615px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.area {
    width: 300px;
    height: 250px;
    text-align: left;
    justify-content: center;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    border: none;
}

.summary-card-reason {
    padding: 15px;
    border: none;
    border-radius: 16px;
    background: rgba(239, 240, 242, 0.5);
    box-sizing: border-box;
    text-align: left;
    height: 80px;
}

.summary-card-goal {
    padding: 10px;
    border: none;
    border-radius: 16px;
    background: rgba(239, 240, 242, 0.5);
    box-sizing: border-box;
    text-align: left;
}

.alertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 85%);
    background: white;
    color: rgb(28, 60, 101);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(28, 60, 101);
}

/* HTML IDs */
#login-page-logo-circle:hover {
    transform: scale(1.1);
}

#login-page-logo-circle {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

#footer-details:hover,
h1:hover,
h4:hover {
    text-decoration-line: underline;
}

#subtitle {
    font-size: 12px;
    font-weight: 500;
    color: rgb(28, 60, 101);
}

#your-Reason-Text {
    font-size: 12px;
    font-weight: 500;
    color: rgb(28, 60, 101);
}

#gotohome {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(15, 192, 252, 0.5);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#footer-details:hover {
    transform: scale(1.05);
}

#footer-details {
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;
}

#gotohome:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#gotohome:active {
    transform: translateY(1px);
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
